<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <script src="/js/roomlist/bootstrap-show-password.min.js"></script>
    <script th:inline="javascript">

        let roomId;

        $(function(){
            let $maxUserCnt = $("#maxUserCnt");
            let $msgType = $("#msgType");
            let $rtcType = $("#rtcType");

            // 모달창 열릴 때 이벤트 처리 => roomId 가져오기
            $("#enterRoomModal").on("show.bs.modal", function (event) {
                roomId = $(event.relatedTarget).data('id');
                // console.log("roomId: " + roomId);

            });

            $("#confirmPwdModal").on("show.bs.modal", function (e) {
                roomId = $(e.relatedTarget).data('id');
                // console.log("roomId: " + roomId);

            });

            // 채팅방 설정 시 비밀번호 확인
            confirmPWD();

        })



        // 채팅방 설정 시 비밀번호 확인 - keyup 펑션 활용
        function confirmPWD(){
            $("#confirmPwd").on("keyup", function(){
                let $confirmPwd = $("#confirmPwd").val();
                const $configRoomBtn = $("#configRoomBtn");
                let $confirmLabel = $("#confirmLabel");

                $.ajax({
                    type : "post",
                    url : "/chat/confirmPwd/"+roomId,
                    data : {
                        "roomPwd" : $confirmPwd
                    },
                    success : function(result){
                        // console.log("동작완료")

                        // result 의 결과에 따라서 아래 내용 실행
                        if(result){ // true 일때는
                            // $configRoomBtn 를 활성화 상태로 만들고 비밀번호 확인 완료를 출력
                            $configRoomBtn.attr("class", "btn btn-primary");
                            $configRoomBtn.attr("aria-disabled", false);

                            $confirmLabel.html("<span id='confirm'>비밀번호 확인 완료</span>");
                            $("#confirm").css({
                                "color" : "#0D6EFD",
                                "font-weight" : "bold",
                            });

                        }else{ // false 일때는
                            // $configRoomBtn 를 비활성화 상태로 만들고 비밀번호가 틀립니다 문구를 출력
                            $configRoomBtn.attr("class", "btn btn-primary disabled");
                            $configRoomBtn.attr("aria-disabled", true);

                            $confirmLabel.html("<span id='confirm'>비밀번호가 틀립니다</span>");
                            $("#confirm").css({
                                "color" : "#FA3E3E",
                                "font-weight" : "bold",
                            });

                        }
                    }
                })
            })
        }

        // 채팅 인원 숫자만 정규식 체크
        function numberChk(){
            let check = /^[0-9]+$/;
            if (!check.test($("#maxUserCnt").val())) {
                alert("채팅 인원에는 숫자만 입력 가능합니다!!")
                return false;
            }
            return true;
        }

        // 채팅방 생성
        function createRoom() {

            let name = $("#roomName").val();
            let pwd = $("#roomPwd").val();
            let secret = $("#secret").is(':checked');
            let secretCheck = $("#secretCheck");
            let $rtcType = $("#rtcType");
            let $msgType = $("#msgType");
            let $maxUserCnt = $("#maxUserCnt");

            if (name === "") {
                alert("방 이름은 필수입니다")
                return false;
            }
            if ($("#" + name).length > 0) {
                alert("이미 존재하는 방입니다")
                return false;
            }
            if (pwd === "") {
                alert("비밀번호는 필수입니다")
                return false;
            }
            if($maxUserCnt.val() <= 1){
                alert("혼자서는 채팅이 불가능합니다");
                return false;
            }

            if($rtcType.is(':checked')){
                if($("#maxUserCnt").val() <= 1){
                    alert("채팅은 최소 2명 이상입니다");
                    return false;
                }else if ($("#maxUserCnt").val() > 4) {
                    alert("5명 이상은 화상채팅이 불가합니다.");
                    return false;
                }
            }else if($msgType.is(':checked')){
                // 일반채팅 : 최소 방 인원 수는 2, 최대 100명
                if($("#maxUserCnt").val() <= 1){
                    alert("채팅은 최소 2명 이상!!");
                    return false;
                }else if ($("#maxUserCnt").val() > 10000) {
                    alert("10000명 이상은 서버가 못 버텨요ㅠ.ㅠ");
                    return false;
                }
            }

            // 채팅 타입 필수
            if ($('input[name=chatType]:checked').val() == null) {
                alert("채팅 타입은 필수입니다")
                return false;
            }

            if (secret) {
                secretCheck.attr('value', true);
            } else {
                secretCheck.attr('value', false);
            }

            if(!numberChk()){
                return false;
            }

            return true;
        }
        // 채팅방 정보 수정 함수
        function updateRoomName(roomId) {
            var newRoomName = $('#newRoomName').val();

            // 채팅방 이름 변경 요청
            if(newRoomName) {
                $.ajax({
                    type: 'PUT',
                    url: '/chat/updateRoomName/' + roomId,
                    contentType: 'application/json',
                    data: JSON.stringify({ roomName: newRoomName }),
                    success: function(response) {
                        console.log("Room name updated");
                        location.reload();
                    },
                    error: function(error) {
                        console.log("Error updating room name: " + error);
                    }
                });
            }
        }

        function updateRoomPassword(roomId) {
            var newRoomPwd = $('#newRoomPwd').val();


            if(newRoomPwd) {
                $.ajax({
                    type: 'PUT',
                    url: '/chat/updateRoomPwd/' + roomId,
                    contentType: 'application/json',
                    data: JSON.stringify({ roomPwd: newRoomPwd }),
                    success: function(response) {
                        console.log("Room password updated");
                        location.reload();
                    },
                    error: function(error) {
                        console.log("Error updating room password: " + error);
                    }
                });
            }
        }

        // 채팅방 입장 시 비밀번호 확인
        function enterRoom(){
            let $enterPwd = $("#enterPwd").val();
            console.log(roomId);
            $.ajax({
                type : "post",
                url : "/chat/confirmPwd/"+roomId,
                async : false,
                data : {
                    "roomPwd" : $enterPwd
                },
                success : function(result){
                    // console.log("동작완료")
                    console.log("확인 : "+chkRoomUserCnt(roomId))

                    if(result){
                        if (chkRoomUserCnt(roomId)) {
                            location.href = "/chat/room?roomId="+roomId;
                        }
                    }else{
                        alert("비밀번호가 틀립니다. \n 비밀번호를 확인해주세요")
                    }
                }
            })
        }

        // 채팅방 삭제
        function delRoom(){
            location.href = "/chat/delRoom/"+roomId;
        }

        // 채팅방 입장 시 인원 수에 따라서 입장 여부 결정
        function chkRoomUserCnt(roomId){
            let chk;


            $.ajax({
                type : "GET",
                url : "/chat/chkUserCnt/"+roomId,
                async : false,
                success : function(result){

                    if (!result) {
                        alert("채팅방이 꽉 차서 입장 할 수 없습니다");
                    }

                    chk = result;
                }
            })
            return chk;
        }

        var user = /*[[${user}]]*/ null;
        if (user !== null) {
            localStorage.setItem('nickname', user.nickname);
        }
        $(function() {
            let $maxUserCnt = $("#maxUserCnt");
            let $msgType = $("#msgType");
            let $rtcType = $("#rtcType");
            let $userCntChangeSection = $("#userCntChangeSection");

            // 초기 상태 설정
            if($msgType.is(':checked')) {
                $userCntChangeSection.show();
            } else {
                $userCntChangeSection.hide();
            }

            $rtcType.change(function() {
                if ($rtcType.is(':checked')) {

                    $userCntChangeSection.hide();
                }
            });

            // 문자 채팅 선택 시
            $msgType.change(function() {
                if ($msgType.is(':checked')) {
                    $maxUserCnt.attr('disabled', false);
                    $userCntChangeSection.show();
                }
            });
        });
        function toggleRoomSecret(roomId) {
            // 먼저 GET 요청으로 현재 잠금 상태를 가져옵니다.
            $.ajax({
                type: 'GET',
                url: '/chat/findSecretCheck',
                data: { roomId: roomId },

                success: function(chatRoom) {
                    // 가져온 상태를 반전시킵니다.
                    var newSecretStatus = !chatRoom.secretCheck;
                    console.log(newSecretStatus);
                    // 반전된 상태를 서버에 PUT 요청으로 전송합니다.
                    $.ajax({
                        type: 'PUT',
                        url: '/chat/updateRoomSecret/' + roomId,
                        contentType: 'application/json',
                        data: JSON.stringify({ secretCheck: newSecretStatus }),
                        success: function() {
                            console.log("채팅방 잠금 상태가 변경되었습니다.");
                            updateLockButton(newSecretStatus);
                            location.reload();
                        },
                        error: function(error) {
                            console.log("채팅방 잠금 상태 변경 중 오류가 발생했습니다: " + error);
                        }
                    });
                },
                error: function(error) {
                    console.log("채팅방 정보 조회 중 오류가 발생했습니다: " + error);
                }
            });
        }

        function updateLockButton(isLocked) {
            var $lockButton = $('#lockButton');
            var $lockStatusText = $('#lockStatusText');


            if (isLocked) {
                $lockButton.text('잠금 해제');
                $lockStatusText.text('채팅방이 잠겨 있습니다.');
                $lockButton.addClass('locked').removeClass('unlocked');
            } else {
                $lockButton.text('잠금');
                $lockStatusText.text('채팅방이 열려 있습니다.');
                $lockButton.addClass('unlocked').removeClass('locked');
            }
        }
    </script>
    <style>
        body {
            background-color: #36393f;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .container {
            /*background-color: #2f3136;*/
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            color: #fff;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #fff;
        }

        .room-list {
            list-style: none;
            padding: 0;
        }

        .room-list-item {
            border: none;
            border-radius: 30px;
            margin-bottom: 10px;
            padding: 15px;
            background-color: #2c2f33;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease-in-out;
        }
        .room-list-item:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        }

        .room-list-item a {
            text-decoration: none;
            font-weight: bold;
            color: #fff;
            font-size: 18px;
        }

        .room-list-item .badge {
            background-color: #7289da; /* Badge background color similar to Discord */
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            border-radius: 20px;
            padding: 6px 12px;
            margin-left: 10px;
        }

        .room-list-item .room-description {
            font-size: 14px;
            color: #b9bbbe;
            margin-top: 10px;
        }

        .room-list-item .enter-button {
            background-color: #7289da;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-weight: bold;
            cursor: pointer;
        }
        #userCntChangeSection {
            display: none; /* 기본적으로 섹션을 숨김 */
        }

        /* 여기에 다른 CSS 스타일을 추가합니다. */


        .room-list-item .enter-button:hover {
            background-color: #5a68a0;
        }

        .create-room-button {
            margin-top: 20px;
            text-align: center;

        }

        .create-room-button button {
            background-color: #43b581;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-weight: bold;
            cursor: pointer;
        }

        .create-room-button button:hover {
            background-color: #349e5e; /
        }
        .msg-description {
            color: #43b581;
            font-weight: bold;
        }

        .rtc-description {
            color: #7289da;
            font-style: italic;
        }
        .modal-body .mb-3 {
            margin-bottom: 1.5rem;
        }

        .modal-body .mb-3 label {
            display: block;
            margin-bottom: .5rem;
        }

        .modal-body .mb-3 input {
            margin-bottom: .5rem;
        }

        .modal-body .mb-3 button {
            width: 100%;
            margin-top: .5rem;
        }

    </style>
</head>
<body>
<div class="container">
    <h2>채팅방 리스트</h2>

    <div th:if="${user == null}" class="row">
        <div class="col">
            <a href="/"><button type="button" class="btn btn-primary">로그인하기</button></a>
        </div>
    </div>
    <h5 th:if="${user != null}">
        유저이름 : [[${user.nickname}]]
    </h5>

    <!-- 채팅방 리스트를 목록으로 표시 -->
    <ul class="room-list">
        <li th:each="room : ${list}" class="room-list-item">
            <div class="room-list-item-header">
                <a th:if="${room.secretCheck}" href="#enterRoomModal" data-bs-toggle="modal"
                   data-bs-target="#enterRoomModal" th:data-id="${room.roomId}">
                    <span class="room-lock-icon"><i class="fa fa-lock"></i></span>
                    <span class="room-name">[[${room.roomName}]]</span>
                </a>
                <a th:if="${!room.secretCheck}" th:href="@{/chat/room(roomId=${room.roomId})}"
                   th:roomId="${room.roomId}" onclick="return chkRoomUserCnt(this.getAttribute('roomId'));">[[${room.roomName}]]</a>
                <div class="badge bg-primary rounded-pill">
                    [[${room.userCount}]]/[[${room.maxUserCnt}]]
                </div>
                <p th:class="room-description" th:data-id="${room.chatType}">
                </p>
                <button class="btn btn-primary btn-sm" id="configRoom" data-bs-toggle="modal" data-bs-target="#confirmPwdModal" th:data-id="${room.roomId}">채팅방 설정</button>
            </div>
        </li>
    </ul>
    </script>
    <script th:inline="javascript">
        $(function() {
            // 각 채팅방의 chatType을 읽어와서 처리
            $(".room-description").each(function() {
                let chatType = $(this).data("id"); // 데이터 속성을 가져옴

                console.log(chatType);
                if (chatType === "MSG") {
                    $(this).text("일반 채팅");
                } else {
                    $(this).text("화상 채팅");
                }
            });
        });
    </script>
    <div class="create-room-button">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#roomModal">방 생성</button>
    </div>
</div>


<div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">채팅방 생성</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/chat/createRoom" onsubmit="return createRoom()" id="roomForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="roomName" class="col-form-label">방 이름</label>
                        <input type="text" class="form-control" id="roomName" name="roomName">
                    </div>
                    <div class="mb-3">
                        <label for="roomPwd" class="col-form-label">방 설정 번호(방 삭제시 필요합니다)</label>
                        <div class="input-group">
                            <input type="password" name="roomPwd" id="roomPwd" class="form-control" data-toggle="password">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="chatType" id="msgType" value="msgChat">
                            <label class="form-check-label" for="msgType">
                                일반 채팅(최대 10000명)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="chatType" id="rtcType" value="rtcChat">
                            <label class="form-check-label" for="rtcType">
                                화상 채팅(최대 4명)
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="maxUserCnt" class="col-form-label">채팅방 인원 설정</label>
                        <input type="text" class="form-control" id="maxUserCnt" name="maxUserCnt">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="secret">
                        <input type="hidden" name="secretCheck" id="secretCheck" value="">
                        <label class="form-check-label" for="secret">
                            채팅방 잠금
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="방 생성하기">
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("roomForm");
        const msgTypeRadio = document.getElementById("msgType");
        const rtcTypeRadio = document.getElementById("rtcType");

        msgTypeRadio.addEventListener("change", function() {
            if (msgTypeRadio.checked) {
                form.action = "/chat/createRoom";
            }
        });

        rtcTypeRadio.addEventListener("change", function() {
            if (rtcTypeRadio.checked) {
                form.action = "/chat/createRtcRoom";
            }
        });
    });
</script>

<div class="modal fade" id="enterRoomModal" tabindex="-1" aria-labelledby="enterRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">채팅방 비밀번호를 입력해주세요</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="roomName" class="col-form-label">방 비밀번호</label>
                    <div class="input-group">
                        <input type="password" name="roomPwd" id="enterPwd" class="form-control" data-toggle="password">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-eye"></i></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="enterRoom()">입장하기</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="confirmPwdModal" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">채팅방 설정을 위한 패스워드 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="confirmPwd" class="col-form-label" id="confirmLabel">비밀번호 확인</label>
                <div class="input-group">
                    <input type="password" name="confirmPwd" id="confirmPwd" class="form-control" data-toggle="password">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-eye"></i></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="configRoomBtn" class="btn btn-primary disabled" data-bs-target="#configRoomModal" data-bs-toggle="modal" aria-disabled="true">채팅방 설정하기</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="configRoomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">채팅방 설정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- 채팅방 설정 모달 내부 -->
            <!-- 채팅방 설정 모달 내부 -->
            <div class="modal-body">
                <!-- 채팅방 이름 변경 입력 필드 -->
                <div class="mb-3">
                    <label for="newRoomName" class="col-form-label">채팅방 이름 변경</label>
                    <input type="text" class="form-control" id="newRoomName">
                    <!-- 이름 변경 버튼 -->
                    <button type="button" class="btn btn-primary mt-2" onclick="updateRoomName(roomId)">이름 변경</button>
                </div>

                <!-- 채팅방 비밀번호 변경 입력 필드 -->
                <div class="mb-3">
                    <label for="newRoomPwd" class="col-form-label">채팅방 비밀번호 변경</label>
                    <input type="password" class="form-control" id="newRoomPwd">
                    <!-- 비밀번호 변경 버튼 -->
                    <button type="button" class="btn btn-primary mt-2" onclick="updateRoomPassword(roomId)">비밀번호 변경</button>
                </div>


            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-primary" onclick="toggleRoomSecret(roomId)">잠금 상태 변경</button>
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-primary" onclick="delRoom()">방 삭제</button>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
</body>
</html>